.navig{
    background-color: #000000;
    color:#796dd4 ;
    text-align : center;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    width: 50%;
    font-size: 34px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.main-body{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    margin-top:0px;
    padding: 180px;
}
.image{
    background-image: url("bg img.jpg");
    background-size: cover;
    height:560px;
}
.second{
    display: flex;
    color: rgb(249, 253, 7);
    height: 70px;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.my-service{
    display: flex;
    color: rgb(242, 7, 183);
}
.help{
    display: flex;
    justify-content: center;
    margin-right: 40px;
    color: white;
}
.btn{
    padding: 20px 40px;
    background-color: #2f0cf7;
    color: white;
    border: none;
    height: 0px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}